body{
  background: #57f;
}

body article {
  padding: 30px;
  max-width: 48em;
  border-radius: 4px;
  margin: 8px auto;
  background: #f8f8f8;
  color: #222;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}

article {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #333;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

.timestamp {
  font-size: 13px;
}

article a {
  background: transparent;
}

article a:active,
article a:hover {
  outline: 0;
}

article strong {
  font-weight: bold;
}

article h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

article img {
  border: 0;
}

article hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

article pre {
  overflow: auto;
}

article code,
article kbd,
article pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

article input {
  color: inherit;
  font: inherit;
  margin: 0;
}

article html input[disabled] {
  cursor: default;
}

article input {
  line-height: normal;
}

article input[type="checkbox"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

article table {
  border-collapse: collapse;
  border-spacing: 0;
}

article td,
article th {
  padding: 0;
}

article * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article input {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

article a {
  color: #33b5e5;
  text-decoration: none;
}

article a:hover,
article a:focus,
article a:active {
  text-decoration: underline;
}

article hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

article hr:before {
  display: table;
  content: "";
}

article hr:after {
  display: table;
  clear: both;
  content: "";
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}

article h1 {
  font-size: 30px;
}

article h2 {
  font-size: 21px;
}

article h3 {
  font-size: 16px;
}

article h4 {
  font-size: 14px;
}

article h5 {
  font-size: 12px;
}

article h6 {
  font-size: 11px;
}

article blockquote {
  margin: 0;
}

article ul,
article ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

article ol ol,
article ul ol {
  list-style-type: lower-roman;
}

article ul ul ol,
article ul ol ol,
article ol ul ol,
article ol ol ol {
  list-style-type: lower-alpha;
}

article dd {
  margin-left: 0;
}

article code {
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

article pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

article .octicon {
  font: normal normal 16px octicons-anchor;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

article .octicon-link:before {
  content: '\f05c';
}

article>*:first-child {
  margin-top: 0 !important;
}

article>*:last-child {
  margin-bottom: 0 !important;
}

article .anchor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}

article .anchor:focus {
  outline: none;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

article h1 .octicon-link,
article h2 .octicon-link,
article h3 .octicon-link,
article h4 .octicon-link,
article h5 .octicon-link,
article h6 .octicon-link {
  display: none;
  color: #000;
  vertical-align: middle;
}

article h1:hover .anchor,
article h2:hover .anchor,
article h3:hover .anchor,
article h4:hover .anchor,
article h5:hover .anchor,
article h6:hover .anchor {
  padding-left: 8px;
  margin-left: -30px;
  line-height: 1;
  text-decoration: none;
}

article h1:hover .anchor .octicon-link,
article h2:hover .anchor .octicon-link,
article h3:hover .anchor .octicon-link,
article h4:hover .anchor .octicon-link,
article h5:hover .anchor .octicon-link,
article h6:hover .anchor .octicon-link {
  display: inline-block;
}

article h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

article h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

article h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

article h4 {
  font-size: 1.25em;
}

article h5 {
  font-size: 1em;
}

article h6 {
  font-size: 1em;
  color: #777;
}

article p,
article blockquote,
article ul,
article ol,
article dl,
article table,
article pre {
  margin-top: 0;
  margin-bottom: 16px;
}

article hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}

article ul,
article ol {
  padding-left: 2em;
}

article ul ul,
article ul ol,
article ol ol,
article ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

article li>p {
  margin-top: 16px;
}

article dl {
  padding: 0;
}

article dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

article dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

article blockquote {
  padding: 0 15px;
  color: #444;
  border-left: 4px solid #ddd;
}

article blockquote>:first-child {
  margin-top: 0;
}

article blockquote>:last-child {
  margin-bottom: 0;
}

article table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

article table th {
  font-weight: bold;
}

article table th,
article table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

article table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

article table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

article img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article code {
  padding: 0;
  margin: 0;
  position:relative;
  top: -0.5px;
  font-size: 90%;
  background-color: rgba(0,0,0,0);
  border-radius: 0px;
}

article code:before,
article code:after {
  /*letter-spacing: -0.2em;
  content: "\00a0";*/
}

article pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

article .highlight {
  margin-bottom: 16px;
}

article .highlight pre,
article pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  /*background-color: #f7f7f7;*/
  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
}

article .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

article pre {
  word-wrap: normal;
}

article pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

article pre code:before,
article pre code:after {
  content: normal;
}

article .highlight {
  background: #fff;
}

article .highlight .h {
  color: #333;
  font-style: normal;
  font-weight: normal;
}

article .highlight .mf,
article .highlight .mh,
article .highlight .mi,
article .highlight .mo,
article .highlight .il,
article .highlight .m {
  color: #945277;
}

article .highlight .s,
article .highlight .sb,
article .highlight .sc,
article .highlight .sd,
article .highlight .s2,
article .highlight .se,
article .highlight .sh,
article .highlight .si,
article .highlight .sx,
article .highlight .s1 {
  color: #df5000;
}

article .highlight .kc,
article .highlight .kd,
article .highlight .kn,
article .highlight .kp,
article .highlight .kr,
article .highlight .kt,
article .highlight .k,
article .highlight .o {
  font-weight: bold;
}

article .highlight .kt {
  color: #458;
}

article .highlight .c,
article .highlight .cm,
article .highlight .c1 {
  color: #998;
  font-style: italic;
}

article .highlight .cp,
article .highlight .cs,
article .highlight .cp .h {
  color: #999;
  font-weight: bold;
}

article .highlight .cs {
  font-style: italic;
}

article .highlight .n {
  color: #333;
}

article .highlight .na,
article .highlight .nv,
article .highlight .vc,
article .highlight .vg,
article .highlight .vi {
  color: #008080;
}

article .highlight .nb {
  color: #0086B3;
}

article .highlight .nc {
  color: #458;
  font-weight: bold;
}

article .highlight .no {
  color: #094e99;
}

article .highlight .ni {
  color: #800080;
}

article .highlight .ne {
  color: #990000;
  font-weight: bold;
}

article .highlight .nf {
  color: #945277;
  font-weight: bold;
}

article .highlight .nn {
  color: #555;
}

article .highlight .nt {
  color: #000080;
}

article .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

article .highlight .gd {
  color: #000;
  background-color: #fdd;
}

article .highlight .gd .x {
  color: #000;
  background-color: #faa;
}

article .highlight .ge {
  font-style: italic;
}

article .highlight .gr {
  color: #aa0000;
}

article .highlight .gh {
  color: #999;
}

article .highlight .gi {
  color: #000;
  background-color: #dfd;
}

article .highlight .gi .x {
  color: #000;
  background-color: #afa;
}

article .highlight .go {
  color: #888;
}

article .highlight .gp {
  color: #555;
}

article .highlight .gs {
  font-weight: bold;
}

article .highlight .gu {
  color: #800080;
  font-weight: bold;
}

article .highlight .gt {
  color: #aa0000;
}

article .highlight .ow {
  font-weight: bold;
}

article .highlight .w {
  color: #bbb;
}

article .highlight .sr {
  color: #017936;
}

article .highlight .ss {
  color: #8b467f;
}

article .highlight .bp {
  color: #999;
}

article .highlight .gc {
  color: #999;
  background-color: #EAF2F5;
}

article kbd {
  background-color: #e7e7e7;
  background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
  background-image: linear-gradient(#fefefe, #e7e7e7);
  background-repeat: repeat-x;
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #000;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
}

article .highlight .pl-coc,
article .highlight .pl-entm,
article .highlight .pl-eoa,
article .highlight .pl-mai .pl-sf,
article .highlight .pl-pdv,
article .highlight .pl-sc,
article .highlight .pl-sr,
article .highlight .pl-v,
article .highlight .pl-vpf {
  color: #0086b3;
}

article .highlight .pl-eoac,
article .highlight .pl-mdht,
article .highlight .pl-mi1,
article .highlight .pl-mri,
article .highlight .pl-va,
article .highlight .pl-vpu {
  color: #008080;
}

article .highlight .pl-c,
article .highlight .pl-pdc {
  color: #b4b7b4;
  font-style: italic;
}

article .highlight .pl-k,
article .highlight .pl-ko,
article .highlight .pl-kolp,
article .highlight .pl-mc,
article .highlight .pl-mr,
article .highlight .pl-ms,
article .highlight .pl-s,
article .highlight .pl-sok,
article .highlight .pl-st {
  color: #6e5494;
}

article .highlight .pl-ef,
article .highlight .pl-enf,
article .highlight .pl-enm,
article .highlight .pl-entc,
article .highlight .pl-eoi,
article .highlight .pl-sf,
article .highlight .pl-smc {
  color: #d12089;
}

article .highlight .pl-ens,
article .highlight .pl-eoai,
article .highlight .pl-kos,
article .highlight .pl-mh .pl-pdh,
article .highlight .pl-mp,
article .highlight .pl-pde,
article .highlight .pl-stp {
  color: #458;
}

article .highlight .pl-enti {
  color: #d12089;
  font-weight: bold;
}

article .highlight .pl-cce,
article .highlight .pl-enc,
article .highlight .pl-kou,
article .highlight .pl-mq {
  color: #f93;
}

article .highlight .pl-mp1 .pl-sf {
  color: #458;
  font-weight: bold;
}

article .highlight .pl-cos,
article .highlight .pl-ent,
article .highlight .pl-md,
article .highlight .pl-mdhf,
article .highlight .pl-ml,
article .highlight .pl-pdc1,
article .highlight .pl-pds,
article .highlight .pl-s1,
article .highlight .pl-scp,
article .highlight .pl-sol {
  color: #df5000;
}

article .highlight .pl-c1,
article .highlight .pl-cn,
article .highlight .pl-pse,
article .highlight .pl-pse .pl-s2,
article .highlight .pl-vi {
  color: #a31515;
}

article .highlight .pl-mb,
article .highlight .pl-pdb {
  color: #df5000;
  font-weight: bold;
}

article .highlight .pl-mi,
article .highlight .pl-pdi {
  color: #6e5494;
  font-style: italic;
}

article .highlight .pl-ms1 {
  background-color: #f5f5f5;
}

article .highlight .pl-mdh,
article .highlight .pl-mdi {
  font-weight: bold;
}

article .highlight .pl-mdr {
  color: #0086b3;
  font-weight: bold;
}

article .highlight .pl-s2 {
  color: #333;
}

article .highlight .pl-ii {
  background-color: #df5000;
  color: #fff;
}

article .highlight .pl-ib {
  background-color: #f93;
}

article .highlight .pl-id {
  background-color: #a31515;
  color: #fff;
}

article .highlight .pl-iu {
  background-color: #b4b7b4;
}

article .highlight .pl-mo {
  color: #969896;
}

article .task-list-item {
  list-style-type: none;
}

article .task-list-item+.task-list-item {
  margin-top: 3px;
}

article .task-list-item input {
  float: left;
  margin: 0.3em 0 0.25em -1.6em;
  vertical-align: middle;
}
